/* Main Content */

.main-content {
    overflow-y: visible;
    position: relative;
    height: 100px;
}

.main {
    padding-left: 0px;
    padding-right: 0px;
    top: -20px;
}

.img-responsive {
    width: 100%;
}

.info-wrapper {
    position: relative;
}

.category-main {
    font: 16px;
    color: #FF0500;
    text-transform: uppercase;
    text-align: center;
}

.story {
    text-transform: uppercase;
    color: black;
}

a {
    color: inherit;
}

.info {
    border-top: 4px solid #ff0500;
    padding: 15px 30px 25px;
    position: relative;
}

@media only screen and (max-width:767px) {
    .wrapping {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .info {
        margin-top: -150px;
    }
    .glass {
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0, #fff 50%, #fff 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 155px;
    }
}

@media only screen and (min-width: 992px) {
    .category-main {
        font-size: 22px;
    }
}


/* ----------------------- */


/* Main Horizontal Divider- after main pic */

.main-horizontal-divider {
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}


/* ----------------------- */


/* Vertical Divider */

.vertical-divider {
    border-right: 1px solid #f2f2f2;
}

@media only screen and (min-width: 768px) {
    .vertical-divider {
        height: 600px;
    }
}

@media only screen and (min-width: 992px) {
    .vertical-divider {
        height: 600px;
    }
}

@media only screen and (min-width: 1200px) {
    .vertical-divider {
        height: 800px;
    }
}


/* ----------------------- */


/* Sub Main Content */

.sub-box {
    margin-top: 15px;
    border-bottom: 1px solid #f2f2f2;
}

.category-main.blue {
    color: #00B7FF;
}

#blue-background {
    border: 1px solid #cdf0ff;
    background-color: #e6ffff;
}

@media only screen and (max-width: 767px) {
    .sub-box {
        height: 630px;
    }
    #blue-background {
        height: 615px;
    }
}

@media only screen and (min-width: 768px) {
    .sub-box {
        height: 550px;
    }
    #blue-background {
        height: 535px;
    }
}

@media only screen and (min-width: 992px) {
    .sub-box {
        height: 670px;
    }
    #blue-background {
        height: 555px;
    }
}

@media only screen and (min-width: 1200px) {
    .sub-box {
        height: 690px;
    }
    #blue-background {
        height: 675px;
    }
}